<div class="portfolio-group">
    <a class="portfolio-item" [routerLink]="['/recipes', recipe._id]">
        <img src="{{recipe.imgUrl}}" alt="image">
        <div class="detail">
            <h3>{{recipe.recipeName}}</h3>
            <!-- TODO: Use pipe for description -->
            <p>{{(recipe.description | slice:0:25)}}...</p>
            <p>Likes: {{recipe.likes.length}}</p>
            <p>Comments: {{recipe.comments.length}}</p>
            <p>Author: {{recipe.userId.username}}</p>

            <span class="btn">Details</span>
        </div>
    </a>
</div>