<ng-container *ngIf="makeUpdate">
    <app-recipes-new-page [makeUpdate]="makeUpdate" [recipeToUpdate]="recipe"></app-recipes-new-page>
</ng-container>

<ng-container *ngIf="!makeUpdate">
    <div class="templatemo-detail content" *ngIf="recipe">

        <div class="about-detail">
            <h1>{{recipe.recipeName}}</h1>
            <p class="right date">date: {{recipe.created_at | date:'medium'}}</p>
            <br>

            <img src="{{recipe.imgUrl}}" alt="image" class="left shadow">
            <p class="justify">{{recipe.description}}</p>

            <br>
            <p class="right">author: {{recipe.userId.username}}</p>
            <br>

            <h2 class="subtitle">Ingredients: </h2>
            <ul class="checkmark pad-left" *ngFor="let ingr of recipe.ingredients">
                <li>{{ingr}}</li>
            </ul>
            <!-- TODO: get correct comments and likes, not id -->
            <!-- <p>{{recipe.comments}}</p>
                <p>{{recipe.likes}}</p> -->

            <div *ngIf="isAuthor">
                <button (click)="updateRecipe()">Edit</button>
                <button (click)="deleteRecipeHandler()">Delete</button>
            </div>
        </div>
    </div>

    <app-recipes-new-comment [recipeId]="recipeId" [recipe]="recipe"></app-recipes-new-comment>
</ng-container>