.templatemo-detail{
    background-color: #73a04479;
    width: 80%;
    margin: auto;
}

.about-detail{
    padding: 20px 40px;
}

h1{
    color: #446620;
    font-weight: bold;
}

.justify{
    padding-top: 20px;
    height: auto;
    /* height: 130px; */
}

.subtitle{
    color: #446620;
    /* padding-top: 107px; */
}

.right{
    font-style: italic;
}