.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register{
  margin-top: 70px;
}

mat-form-field{
  /* width: 40%; */
  width: 300px;
}

button{
  width: 150px;
}

p{
  margin: 0;
  margin-bottom: 15px;
}