<header>
    <div class="topnav">
        <!-- TODO: logo image -->

        <a class="home" href="/home">Home</a>
        <a routerLink="/recipes">Recipes</a>
        <a routerLink="/about">About</a>

        <div class="topnav-right">
            <!-- Guest -->
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>

            <!-- User -->
            <a routerLink="/profile">Profile</a>
            <a href="#">Logout</a>
        </div>
    </div>
</header>