.topnav {
  background-color: #4899e9;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  border-radius: 15px 50px;
  background-color: #0a335b;
  color: white;
  
}

.topnav a.home {
  border-radius: 15px 50px;
  background-color: #104c88;
  color: white;
}

.topnav a.home:hover{
  border-radius: 15px 50px;
  background-color: #0a335b;
}

.topnav-right {
  float: right;
}

.notification{
  position: fixed;
  z-index: 10;
  right: 8%;
  top: 8%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-style: italic;
  box-shadow: 0 5px 10px rgb(204, 204, 204);
  background-color: rgba(238, 74, 74, 0.699);
}

.error-message {
  background-color: rgba(238, 74, 74, 0.699);
}

.success-message {
  background-color: rgba(99, 230, 81, 0.699);
}