.topnav {
    background-color: #74A044;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #a1c27e;
  color: black;
}

.topnav a.home {
  background-color: #4a751d;
  color: white;
}

.topnav-right {
  float: right;
}