<header>
    <div class="topnav">
        <!-- TODO: logo image -->

        <a class="home" routerLink="/home">Home</a>
        <a routerLink="/recipes">Recipes</a>
        <a routerLink="/recipes/new">Add recipe</a>
        <a routerLink="/about">About</a>

        <div class="topnav-right">
            <!-- Guest -->
            <ng-container *ngIf="!(isLoggedIn$ |async)">
                <a routerLink="/user/login">Login</a>
                <a routerLink="/user/register">Register</a>
            </ng-container>

            <!-- User -->
            <ng-container *ngIf="(isLoggedIn$ |async)">
                <a routerLink="/user/profile">{{(currentUser$ | async)?.username}}'s profile</a>
                <a href="javascript:void(0)" (click)="logoutHandler()">Logout</a>
            </ng-container>
        </div>
    </div>
</header>