<div class="welcome">
    <app-welcome></app-welcome>
</div>

<h3>Most Liked Recipe:</h3>

<div class="card-container" *ngIf="recipeMostLiked">
    <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-number subtle"><i class="fas fa-trophy fa-lg winner"></i></span>
            <h2 class="card-title">{{recipeMostLiked.recipeName}}</h2>
            <div class="iconsgrid">
                <p class="card-description subtle"><i class="far fa-user icons"></i> Author:
                    {{recipeMostLiked.userId.username}}</p>
                <p class="card-description subtle"><i class="fa fa-thumbs-up icons"></i> Likes:
                    {{recipeMostLiked.likes.length}}</p>
            </div>
            <div class="card-read" [routerLink]="['/recipes', recipeMostLiked._id]">Details</div>
        </div>
        <img src="{{recipeMostLiked.imgUrl}}" alt="image" class="card-media" />
    </div>
</div>

<h3>Most Commented Recipe:</h3>

<div class="card-container" *ngIf="recipeMostCommented">
    <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-number subtle"><i class="fas fa-trophy fa-lg winner"></i></span>
            <h2 class="card-title">{{recipeMostCommented.recipeName}}</h2>
            <div class="iconsgrid">
                <p class="card-description subtle"><i class="far fa-user icons"></i> Author:
                    {{recipeMostCommented.userId.username}}</p>
                <p class="card-description subtle"><i class="fa fa-thumbs-up icons"></i> Comments:
                    {{recipeMostCommented.comments.length}}</p>
            </div>
            <div class="card-read" [routerLink]="['/recipes', recipeMostCommented._id]">Details</div>
        </div>
        <img src="{{recipeMostCommented.imgUrl}}" alt="image" class="card-media" />
    </div>
</div>