<div class="welcome">
    <app-welcome></app-welcome>
</div>

<div class="card-container" *ngIf="recipeMoastLiked">
    <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-number card-circle subtle">#1</span>
            <span class="card-author subtle">Most liked: </span>
            <h2 class="card-title">{{recipeMoastLiked.recipeName}}</h2>
            <span class="card-description subtle">Author: {{recipeMoastLiked.userId.username}}</span>
                <!-- [routerLink]="['/recipes', recipe._id]" -->
            <div class="card-read" [routerLink]="['/recipes', recipeMoastLiked._id]">Details</div>
        </div>
        <img src="{{recipeMoastLiked.imgUrl}}" alt="image" class="card-media" />
    </div>
</div>


<div class="card-container" *ngIf="recipeMoastCommented">
    <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-number card-circle subtle">#1</span>
            <span class="card-author subtle">Most liked: </span>
            <h2 class="card-title">{{recipeMoastCommented.recipeName}}</h2>
            <span class="card-description subtle">Author: {{recipeMoastCommented.userId.username}}</span>
                <!-- [routerLink]="['/recipes', recipe._id]" -->
            <div class="card-read" [routerLink]="['/recipes', recipeMoastCommented._id]">Details</div>
        </div>
        <img src="{{recipeMoastCommented.imgUrl}}" alt="image" class="card-media" />
    </div>
</div>