<form class="login" [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
    <div class="parent">
        <h2 class="text-primary">Login Form</h2>

        <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput name="email" id="email" placeholder="peter@gmail.com"
                [class.input-error]="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
            <!-- Errors: -->
            <mat-error *ngIf="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
                Email is
                <strong *ngIf="loginFormGroup.controls['email'].hasError('required')">
                    required!
                </strong>
                <strong
                    *ngIf="!loginFormGroup.controls['email'].hasError('required') && loginFormGroup.controls['email'].hasError('email')">
                    not valid!
                </strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password" name="password" id="password"
                placeholder="******"
                [class.input-error]="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
            <!-- Errors: -->
            <mat-error
                *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
                Password
                <strong *ngIf="loginFormGroup.controls['password'].hasError('required')">
                    is required!
                </strong>
                <strong *ngIf="!loginFormGroup.controls['password'].hasError('required') && loginFormGroup.controls['password'].hasError('minlength')">
                    must be at least 5 characters!
                </strong>
            </mat-error>
        </mat-form-field>

        <button [disabled]="loginFormGroup.invalid" class="btn btn-primary">Login</button>

        <p class="text-center">
            Don't have an account yet?
            <a routerLink="/user/register" class="link-primary">Sign Up</a>
        </p>
    </div>
</form>