.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login{
  margin-top: 70px;
}

mat-form-field{
  width: 40%;
}

button{
  width: 150px;
}

.error{
  color: red;
}