<section class="content-item" id="comments">
    <div class="container">
        <div class="row">
            <div>
                <form *ngIf="(isLoggedIn$ | async)">
                    <fieldset>
                        <legend>New Comment</legend>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-12 col-lg-10">
                                <textarea #comment class="form-control" id="message" placeholder="Your message"
                                    required=""></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <div class="btn">
                        <button type="reset" (click)="submitComment(comment.value)" class="btn btn-primary">Submit
                            Comment</button>
                    </div>
                </form>

                <!-- if there are no comments: -->
                <ng-container *ngIf="comments.length == 0">
                    <h3><i class="far fa-comment icons"></i> 0 Comments</h3>
                    <p *ngIf="!(isLoggedIn$ | async)" class="userLogin">
                        Write the first one!
                        <a routerLink="/user/login" class="link-primary">Login</a>
                    </p>
                </ng-container>

                <ng-container *ngIf="comments && comments.length != 0">
                    <h3><i class="far fa-comment icons"></i> {{recipe.comments.length}} Comments</h3>

                    <!-- COMMENT 1 - START -->
                    <div class="media" *ngFor="let comment of comments">
                        <div class="media-body">
                            <h4 class="media-heading">{{comment.userId.username}} <i class="far fa-comment icons"></i>
                            </h4>
                            <p><span>Comment: </span>{{comment.text}}</p>
                            <div class="one-line">
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>{{(comment.created_at | date: 'medium')}}</li>
                                    <li><i class="fa fa-thumbs-up"></i>{{comment.likes.length}}</li>
                                    <!-- <li><i class="fa fa-thumbs-down"></i>8</li> -->
                                </ul>
                                <ul *ngIf="(isLoggedIn$ | async)"
                                    class="list-unstyled list-inline media-detail pull-right">
                                    <ng-container *ngIf="!comment.isOwner">
                                        <li (click)="likeComment(comment)">
                                            <button [disabled]="comment.canLike" class="btn btn-outline-primary btn-sm">
                                                Like
                                            </button>
                                        </li>
                                        <li (click)="dislikeComment(comment)">
                                            <button [disabled]="!comment.canLike"
                                                class="btn btn-outline-primary btn-sm">
                                                Dislike
                                            </button>
                                        </li>
                                    </ng-container>
                                    <li *ngIf="comment.canLike">
                                        You already liked it! But you can dislike it.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- COMMENT 1 - END -->
                </ng-container>
            </div>
        </div>
    </div>
</section>