h3 {
  color: #104C88;
  font-weight: 600;
  text-align: center;
  background-color: #FFDDB3;
  padding: 10px;
  margin: 25px 105px;
  border-radius: 20px 60px;
  width: 100%;
}

.parent{
  display: flex;
  /* display: inline-block; */
  width: 100%;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  background-color: #ebf5fe;
  padding-top: 20px;
  border-radius: 35px 150px;
}

.form{
  margin-top: 20px;
  padding-bottom: 10px;
}

mat-form-field{
  width: 40%;
  padding-right: 10px;
}

button {
  margin-bottom: 20px;
  padding: 12px;
}